@charset "UTF-8";
/* nhc_01.wrap.css */
/* layout_03_nhc_go_kr */
/* 천연기념물센터 data summary */


/* position사용시 가운데 배치하는 방법:
방법 1-1. margin:auto; top:0; bottom:0; =>위,아래 가운데
방법 1-2. margin:auto; left:0; right:0; =>좌,우 가운데

방법 2-1. (높이값이 정해져 있을 경우) top:50%; margin-top:-높이값의 절반크기;  =>위,아래 가운데

방법 2-2. (가로값이 정해져 있을 경우) left:50%; margin-left:-가로값의 절반크기;  =>좌,우 가운데

방법 3-1. (최신브라우저일경우) top:50%; transform:translateY(-50%);=> 위,아래 가운데
방법 3-2. (최신브라우저일경우) left:50%; transform:translateX(-50%);=>좌,우 가운데*/


/* common */
.clearfix:after,
.clearfix::after{content:""; display: block;clear: both; width: 0; height: 0;}

.hidden {display:block; overflow:hidden; position: absolute; width: 0; height:0;}

.float_btn >ul{width: 100%;height: 100%;}
.float_btn >ul>li{float: left;height: 100%;}
.float_btn >ul>li:last-child{margin-right:0;}
.float_btn >ul>li a{display:block; width: 100%;height: 100%; text-align:center;}


/* layout */
/* #wrap======================================================= */
#wrap{width:100%;  min-width: 1200px;height: auto; margin: auto;}